<!-- FAQ -->
<section id="faq">
  <div class="container mx-auto">
    <h2 class="mb-6 text-3xl font-semibold text-center md:text-4xl">
      Frequently Asked Questions
    </h2>
    <p class="max-w-lg px-6 mx-auto text-center text-grayishBlue">
      Here are some of our FAQs. If you have any other questions you'd like
      answered please feel free to email us.
    </p>
  </div>
</section>

<!-- FAQ Accordion -->
<section id="faq-accordion">
  <!-- Main Container  -->
  <div class="container mx-auto px-6 mb-32">
    <!-- Accordion Container -->
    <div class="max-w-2xl m-8 mx-auto overflow-hidden">
      <!-- Tab 1 -->
      <div class="py-1 border-b outline-none group" tabindex="1">
        <!-- Tab Flex Container -->
        <div
          class="flex items-center justify-between py-3 text-gray-500 transition duration-500 cursor-pointer group ease"
        >
          <!-- Tab Title -->
          <div class="transition duratio-500 ease group-hover:text-red-500">
            What Is Bookmark?
          </div>
          <!-- Arrow -->
          <div
            class="transition duration-500 ease group-focus:-rotate-180 group-focus: text-red-500"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path>
            </svg>
          </div>
        </div>
        <!-- Tab Inner Content -->
        <div
          class="overflow-hidden transition duration-500 group-focus:max-h-screen max-h-0 ease"
        >
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            possimus? Debitis dolores, ut esse aliquam nobis, ipsam suscipit
            velit dolore incidunt minus provident quae quam ab! Eaque excepturi
            provident nostrum.
          </p>
        </div>
      </div>
      <!-- Tab 2 -->
      <div class="py-1 border-b outline-none group" tabindex="2">
        <!-- Tab Flex Container -->
        <div
          class="flex items-center justify-between py-3 text-gray-500 transition duration-500 cursor-pointer group ease"
        >
          <!-- Tab Title -->
          <div class="transition duratio-500 ease group-hover:text-red-500">
            How can I request a new browser?
          </div>
          <!-- Arrow -->
          <div
            class="transition duration-500 ease group-focus:-rotate-180 group-focus: text-red-500"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path>
            </svg>
          </div>
        </div>
        <!-- Tab Inner Content -->
        <div
          class="overflow-hidden transition duration-500 group-focus:max-h-screen max-h-0 ease"
        >
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            possimus? Debitis dolores, ut esse aliquam nobis, ipsam suscipit
            velit dolore incidunt minus provident quae quam ab! Eaque excepturi
            provident nostrum.
          </p>
        </div>
      </div>
      <!-- Tab 3 -->
      <div class="py-1 border-b outline-none group" tabindex="3">
        <!-- Tab Flex Container -->
        <div
          class="flex items-center justify-between py-3 text-gray-500 transition duration-500 cursor-pointer group ease"
        >
          <!-- Tab Title -->
          <div class="transition duratio-500 ease group-hover:text-red-500">
            Is there a mobile app?
          </div>
          <!-- Arrow -->
          <div
            class="transition duration-500 ease group-focus:-rotate-180 group-focus: text-red-500"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path>
            </svg>
          </div>
        </div>
        <!-- Tab Inner Content -->
        <div
          class="overflow-hidden transition duration-500 group-focus:max-h-screen max-h-0 ease"
        >
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            possimus? Debitis dolores, ut esse aliquam nobis, ipsam suscipit
            velit dolore incidunt minus provident quae quam ab! Eaque excepturi
            provident nostrum.
          </p>
        </div>
      </div>
      <!-- Tab 4 -->
      <div class="py-1 border-b outline-none group" tabindex="4">
        <!-- Tab Flex Container -->
        <div
          class="flex items-center justify-between py-3 text-gray-500 transition duration-500 cursor-pointer group ease"
        >
          <!-- Tab Title -->
          <div class="transition duratio-500 ease group-hover:text-red-500">
            What about other Chromium browsers?
          </div>
          <!-- Arrow -->
          <div
            class="transition duration-500 ease group-focus:-rotate-180 group-focus: text-red-500"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12">
              <path
                fill="none"
                stroke="currentColor"
                stroke-width="3"
                d="M1 1l8 8 8-8"></path>
            </svg>
          </div>
        </div>
        <!-- Tab Inner Content -->
        <div
          class="overflow-hidden transition duration-500 group-focus:max-h-screen max-h-0 ease"
        >
          <p class="py-2 text-justify text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius,
            possimus? Debitis dolores, ut esse aliquam nobis, ipsam suscipit
            velit dolore incidunt minus provident quae quam ab! Eaque excepturi
            provident nostrum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
