<!-- Nav Container -->
<nav class="container relative mx-auto p-6">
  <!-- Flex Container For Nav Items -->
  <div class="flex items-center justify-between space-x-20 my-6">
    <!-- Logo -->
    <div class="z-30">
      <img src="images/logo-bookmark.svg" alt="" id="logo" />
    </div>
    <!-- Menu Items -->
    <div
      class="hidden items-center space-x-10 uppercase text-grayishBlue md:flex"
    >
      <a href="#features" class="tracking-widest hover:text-softRed">Features</a
      >
      <a href="#download" class="tracking-widest hover:text-softRed">Download</a
      >
      <a href="#faq" class="tracking-widest hover:text-softRed">FAQ</a>

      <a
        href=""
        class="px-8 py-2 text-white bg-softRed border-2 border-softRed rounded-lg shadow-md hover:text-softRed hover:bg-white"
        >Login</a
      >
    </div>
    <!-- Hamburger Menu -->
    <button
      id="menu-btn"
      class="z-30 block md:hidden focus:outline-none hamburger"
    >
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
  <div
    id="menu"
    class="fixed inset-0 z-20 hidden flex-col items-center self-end w-full h-full m-h-screen px-6 py-1 pt-24 pb-24 tracking-widest text-white uppercase divide-y divide-gray-500 opacity-90 bg-veryDarkBlue"
  >
    <div class="w-full py-3 text-center">
      <a href="#features" class="block hover:text-softRed">Features</a>
    </div>
    <div class="w-full py-3 text-center">
      <a href="#download" class="block hover:text-softRed">Download</a>
    </div>
    <div class="w-full py-3 text-center">
      <a href="#faq" class="block hover:text-softRed">FAQ</a>
    </div>
    <div class="w-full py-3 text-center">
      <a href="#" class="block hover:text-softRed">Login</a>
    </div>
  </div>
</nav>

<!-- Hero Section -->
<section id="hero">
  <!-- img content container -->
  <div class="container flex flex-col-reverse mx-auto p-6 lg:flex-row lg:mb-0">
    <!-- Content-->
    <div class="flex flex-col space-y-10 lg:mt-16 lg:w-1/2">
      <h1 class="text-3xl font-semibold text-center lg:text-6xl lg:text-left">
        A Simple Bookmark Manager
      </h1>
      <p
        class="max-w-md mx-auto text-lg text-center text-gray-400 lg:text-2xl lg:text-left lg:mt-0 lg:mx-0"
      >
        A clean and simple interface to organize your favorite websites. Open a
        new browser tab and see your sites load instantly. Try it for free.
      </p>
      <!-- Buttons Container -->
      <div
        class="flex items-center justify-center w-full space-x-4 lg:justify-start"
      >
        <a
          href="#"
          class="p-4 text-sm font-semibold text-white bg-softBlue rounded shadow-md border-2 border-softBlue md:text-base hover:bg-white hover:text-softBlue"
          >Get It On Chrome</a
        >
        <a
          href="#"
          class="p-4 text-sm font-semibold text-black bg-gray-300 rounded shadow-md border-2 border-gray-300 md:text-base hover:bg-white hover:text-gray-600"
          >Get It On Firefox</a
        >
      </div>
    </div>
    <!-- Image -->
    <div class="relative mx-auto lg:mx-0 lg:mb-0 lg:w-1/2">
      <div class="bg-hero"></div>
      <img
        src="images/illustration-hero.svg"
        alt=""
        class="relative z-10 lg:top-24 xl:top-0 overflow-x-visible"
      />
    </div>
  </div>
</section>

<style>
  @media screen(lg) {
    .bg-hero {
      width: 2000px;
      height: 300px;
      left: 30%;
      @apply absolute rounded-l-full top-52 bg-softBlue;
    }
  }

  /* hamburger menu */
  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: 0;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  .hamburger-middle {
    transform: translateY(7px);
  }
  .hamburger-bottom {
    transform: translateY(14px);
  }
  .open {
    transform: rotate(90deg);
    position: fixed;
    top: 50px;
    right: 25px;
  }
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
    background-color: #fff;
  }
  .open .hamburger-middle {
    display: none;
  }
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
    background-color: #fff;
  }
</style>

<script>
  const btn = document.getElementById("menu-btn");
  const menu = document.getElementById("menu");
  const logo = document.getElementById("logo");

  // Hamburger button listener
  btn.addEventListener("click", navToggle);

  function navToggle() {
    btn.classList.toggle("open");
    menu.classList.toggle("hidden");
    menu.classList.toggle("flex");

    if (menu.classList.contains("flex")) {
      logo.setAttribute("src", "./images/logo-bookmark-footer.svg");
    } else {
      logo.setAttribute("src", "./images/logo-bookmark.svg");
    }
  }
</script>
